@font-face {
    font-family: Matrix-II-Bold;
    src: url(https://cdn.glitch.global/0f868b77-fb8d-4181-95e5-7355611a4258/Matrix%20II%20Bold.otf?v=1651679716254) format(otf);
  }

@font-face {
    font-family: Cabin-Semi;
    src: url(https://cdn.glitch.global/0f868b77-fb8d-4181-95e5-7355611a4258/Cabin-SemiBold.ttf?v=1651749188261) format(ttf);
  }



html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #C04E1D;
}

a:link {
    text-decoration: none;
    color: #FEAEAE;
  }
  
a:visited {
    text-decoration: none;
    color: #FEAEAE;
  }



h1 {
  font-family: Matrix-II-Bold, serif;
  font-size: 60px;
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

h2 {
  font-family: Cabin-Semi, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.message2 { 
  position: absolute;
  text-align: center;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
/*   width: 200px; */
  padding: 10px;
  border-radius: 10px;
  animation: transitionOut-1 2s;
  transition-timing-function: ease-out;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}



#front {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 10px black;
  margin: 0 auto;
  background-color: #DD5A22;
}

.title {
  text-align: center;
  margin: auto;
}

.message1 { 
  position: absolute;
  bottom: 10px;
  text-align: center;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
/*   width: 200px; */
  padding: 10px;
  border-radius: 10px;
}

.pages { 
/*   margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* .inner {
  width: 100%;
  height: 100%;
  background-color: #DD5A22;
  width: 100%;
} */





.create {
  position: absolute;
/*   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100vw;
  height: 100vh;
}

.create2 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}





.punch {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: transitionOut-2 1s;
  transition-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes transitionOut-2 {
  from {
    opacity: 100%;
    width: 100px;
  }
  
  to {
    opacity: 0%;
    width: 120px;
  }
}



#foobar { display: none }




.top1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vh;
  z-index: 2;
}

.bot1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  z-index: 2;
}




.topLeft2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 50vh;
  z-index: 2;
}

.topRight2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 50vh;
  z-index: 3;
}

.botLeft2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  z-index: 2;
}

.botRight2 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  z-index: 3;
}



.Left3 {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 2;
}

.Right3 {
  position: fixed;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 2;
}



.full1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}



.break1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
}